mlflow==2.9.2
boto3==1.34.162
psycopg2-binary==2.9.9

pandas
numpy==1.26.4
scipy
from_root
pytest
pytest-cov
holidays
xgboost==3.0.2
scikit-learn
lightgbm
prophet
statsmodels

pandera
category-encoders
fastapi
uvicorn
pydantic
httpx

matplotlib
plotly
seaborn

pymongo

requests
pytest
python-dotenv
pyyaml
joblib
optuna
shap
holidays
setuptools
from_root

